.radient-gradient{
  background: radial-gradient(ellipse at 70%, transparent,transparent 15%, #333 35%, black 75%);
  opacity:0.9;

}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:475px;   
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;   
    height: 100%; 
    object-fit: cover;
  }
 
  .swiper-pagination-bullet {
    margin-top: 10px;
    background: white;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: orange;
  }

  @media screen and (max-width: 400px) {
    .swiper-slide{
      height:340px
    }
  }
  
  .clamped{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }